.sideNavContainer {
	display: flex;
	justify-content: center;
}

.sidenav {
	background: #ffffcc;
	border: thick;
	border-color: #336633;
}

.collapsible-body {
	color: #336633;
	background-color: transparent;
}
