#classComponent {
	padding: 20px;
}

#studentCollection {
	background: #ffffcc;
}

.studentComponent {
	font-size: 2rem;
}

i.icon-creamyyy {
	color: #ffffcc;
}

.studentname {
	color: white;
	font-family: cursive;
	font-size: 18px;
}

.studentheader {
	color: white;
	font-family: cursive;
}
